<!DOCTYPE html>
<html xmlns: th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Sweet Little Kitty</title>
    <link rel="stylesheet" href="./templates/homeStyle.css"/>
</head>
<body>
<div class="bookCover">
    <div class="bookDot">
        <div class="page">
            <div class="column1">
                <div class="row1">TODAY 28| TOTAL 238954</div>
                <div class="row2">
                    <img src="./static/profileImages/catProfile.jpeg" alt="고양이사진" class="image">
                    <div class="text1">test project</div>
                    <div class="text2">Hoya324</div>
                </div>
            </div>
            <div class="column2">
                <div class="row3">
                    <div class="column3">Hoya324의 미니홈피</div>
                    <div class="column4">https://url주소/나중에입력</div>
                </div>
                <div class="row4">
                    <div class="post">
                        <div class="cate">My Post<hr class="line"></div>
                        <div class="column6">
                            <div class="row5">
                                <span class="red">고양이 사진&영상</span> 내 고양이가 최고야<br>
                                <span class="blue">팁</span> 고양이란 말이지<br>
                                <span class="blue">팁</span> 어려운 고양이의 세계<br>
                                <span class="red">고양이 사진&영상</span> 너의 고양이도 자랑해<br>
                            </div>
                            <div class="row6">
                                다이어리: 0/25 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사진첩:0/25
                                <hr class="dot">
                                게시판: 0/25 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;방명록:0/25
                                <hr class="dot">
                            </div>
                        </div>

                    </div>
                    <div class="post">
                        <div class="cate">Script <hr class="line"></div>
                    </div>
                </div>
            </div>
            <div class="column5"></div>
        </div>
    </div>
</div>
</body>
</html>

